@using Microsoft.Fee.WebMVC.Services
@model Microsoft.Fee.WebMVC.ViewModels.Application
@inject IIdentityParser<ApplicationUser> UserManager

@{
     ViewData["Title"] = "New Application";
     var headerList= new List<Header>() {
       new Header() { Controller = "Cart", Text = "Back to cart" } };
}

<partial name="_Header" model="headerList"/>
<div class="container">
    <form method="post" asp-controller="Application" asp-action="Checkout">
        <section class="esh-applications_new-section">
            <div class="row">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(err => err.Errors)) {
                    <div class="alert alert-warning" role="alert">                    
                        &nbsp;@error.ErrorMessage
                    </div>
                }
            </div>
        </section>
        <section class="esh-applications_new-section">
        </section>

        @await Html.PartialAsync("_ApplicationItems")

        <section class="esh-applications_new-section">
            <div class="form-group row">
                <div class="col-md-9">
                </div>
                <div class="col-md-2">
                    <input type="submit" value="[ Place Application ]" name="action" class="btn esh-applications_new-placeApplication" />
                </div>
            </div>
        </section>
        <input asp-for="RequestId" type="hidden" value="@Guid.NewGuid().ToString()"/>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
